# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# properties file, see properties.default.toml for default properties
properties.toml

# refresh token stored for authorization code OAuth flow
token.txt

# IDE metadata
*.code-workspace

# exported files
/output
